input.error {
  border: 2px solid #ff3b30;
  border-radius: 6px;
}
.sub-info {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #555;
}

.sub-info .project {
  font-weight: 600;
}

.sub-info .date {
  margin-top: 2px;
}
.optional {
  font-size: 12px;
  color: #888;
  margin-left: 6px;
  font-weight: normal;
}
input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin: 8px 0 16px;
}
